div.contenido{
background: green;
width: 100%;
height: 50px;
margin-bottom: 10%;
}

body{
    text-align: center;
    font-style: bold;
    line-height: 100px;
    padding-top: 50px;

}
div.contenido1{
    background: red;
    width: 100%;
    height: 100px;
    margin-bottom: 20px;
}
div.row{
    padding: 20px;
}
@media only screen and(orientation: landscape){

}
h1{
    color: white;
    text-align: center;
    
}