header{
    background: rgb(32, 32, 236);
    color: white;
}
.estilo1{
    background: red;
    color: white;
}
.main{
    background: white;
    color: black;
}
aside{
    background:darkblue;
    color: white;

}
footer{
    background: cadetblue;
    color: white;
    
}
p.blanco{
    color: white;
}
h3.blanco{
    color: white;
}