div{
    width: 100px;
    height: 100px;
    background: blue;
    margin: 8px;
    display:inline-block;
    border-radius: 10px;
    vertical-align: top;
    

}

body{
    
    position: relative;
    top: 75px;
    bottom: 50%;
    right: 50%;
    left: 50%;
}


div:hover{
    background: yellow;
    border-radius: 50%;
  

}
.d2:hover {
    
    background:red;

}
.d2 i{
    position: absolute;
    left:35px;
    top: 30px;
     font-size: 50px;
     color: transparent;
     

}
.d2:hover i{
    color: black;
}

