i.ok{
    color: white;
    /* color letra */
    background: blue;
    /* color fondo */
   display: inline-block; 
   /* para poner al lado unos de los otros  */
    width:100px;

/* para el ancho del cuadro */
    height:100px;
/* para el alto del cuadro */
    margin: 100px;   
/* el margen */
    font-size: 75px;
/* medida del objeto o tamaño */
    text-align: center;
/* centrar lo que aya en linea */
    margin-bottom: 20px;
/* margen entre filas */


}
i.ok1{
    color: rgb(48, 189, 35);
    background: rgb(177, 28, 157);
    display: inline-block;
    width: 100px;
    height: 100px;
    /* vertical-align:10px; */
    /* mover a vertical */

    /* text-align: center; */
    /* centrar lo que aya delntro o centrar cualquier cuadro */
    font-size: 75px;

}

i.ok2{
    color: rgb(7, 6, 6);
    background: rgb(235, 14, 14);
    display: inline-block;
    width: 100px;
    height: 100px;
    font-size: 75px;

}

i.ok3{
    color: rgb(236, 222, 27);
    background: rgb(19, 177, 150);
    display: inline-block;
    width: 100px;
    height: 100px;
    font-size: 75px;
}


   
