body {
  background-color: rgb(81, 209, 203);
  padding: 200px;
}
div.bicis {
  background-color: rgb(255, 255, 255);
  color: black;
  overflow: hidden;
  width: 250px;
  border-radius: 10px;
  display: inline-block;
  vertical-align: top;
  position: relative;
}

h3.precio {
  text-align: left;
}
h4.mi_bici {
  text-align: left;
  font-family: " Mansalva", cursive;
}

div.bicis img {
  width: 100%;
}
i.fa-thumbs-up {
  width: 25px;
  height: 25px;
  border-radius: 20px;
  background: rgb(221, 201, 201);
  position: absolute;
  top: 20px;
  right: 20px;
}

i.rojo {
  color: blueviolet;
  font-size: 2000%;
  display: block;
}

@import url("https://fonts.googleapis.com/css?family=Mansalva&display=swap");
